name: Pull Request

on:
  pull_request:

jobs:
  commit_lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.6
        with:
          token: "${{ secrets.ACCESS_TOKEN }}"
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v6.1.0
        with:
          python-version: 3.11

      - name: Install Commitizen
        run: pip install -U commitizen

      - name: Check commits
        run: cz check --rev-range origin/main..HEAD